extends ../layouts/default


block main
	div
		h2.title.page-title.m-t-none.pull-left=title
		.pull-right
			a.btn.btn-primary.pull-right(href="/contacts/create" title="Create New Contact") Add Contact
		each contact in contacts
			table
				tr
					td #{contact.firstname}
					td #{contact.lastname}
					td #{contact.phonenumber}
		
		
		
		







